html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #cfe5e2;
    background-image: url("../images/dollars.jpg");
    text-align: center;
    margin: 0;
    color: #292929;
}

.header {
    color: #005757;
    margin-bottom: 30px;
    margin-top: 0px;
}