html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #cfe5e2;
    display: flex;
    align-items: center;
    background-image: url("../images/dollars.jpg");
    text-align: center;
    margin: 15px;
    color: #292929;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.header {
    color: #005757;
    margin-bottom: 30px;
    margin-top: 0px;
}